.homePageWrapper {
  display: flex;
  gap: 20px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}
.header {
  width: 50%;
  font-size: 70px;
  font-weight: 700;
}
.innerWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  border: 1px solid black;
  background-color: lightgray;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.startBtn {
  border: none;
  background-color: rgb(8, 126, 8);
  color: white;
  width: 70px;
  height: 30px;
  border-radius: 10px;
}
.intro {
  font-size: 20px;
  font-weight: 600;
}
